{%extends "body.html"%}
{%block content%}
<div class="container text-center" style="width: 100%;">
    <h1 style="font-weight: bold;">Pagina sobre o SNOOP</h1>
    <hr>
       
    <div class="col-md-2 centralize-content table-responsive ">
        <table class="table">
            <thead>
            <tr  class="active" style="font-weight: bold;">
                <th scope="col"></th>
                <th scope="col"></th>
               
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" style="font-weight: bold;">Nome completo:</th>
                <td>Calvin Cordozar Broadus, Jr.[</td>

            </tr>  

            <tr>
                <th scope="row" style="font-weight: bold;">Pseudônimo(s):</th>
                <td>Snoop Doggy Dogg, Snoop Doge, Bigg Snoop, D.o.double G, Tha Doggfather, Snoop Lion, DJ Snoopadelic, Snoopzilla, Uncle Snoop</td>
            </tr> 
            <tr>
                <th scope="row" style="font-weight: bold;">Nascimento:</th>
                <td>20 de outubro de 1971 (51 anos)
                    Long Beach, Califórnia</td>
            </tr>   
            <tr>
                <th scope="row" style="font-weight: bold;">Fortuna:</th>
                <td>US$ 150 milhões (2020)</td>
            </tr>  
            
            
         
            </tbody>
        </table>
    </div>

</div>
{%endblock%}
