{%extends "body.html"%}
{%block content%}
    <div class="container" style="width: 100%;">
        <h1 class="text-center" style="font-weight: bold;" >Bem vindo ao SnoopaCronograma</h1>
        <hr>
        <div class="col-md-8 centralize-content table-responsive ">
            <table class="table">
                <thead>
                <tr  class="active">
                    <th scope="col">HORAS</th>
                    <th scope="col">4:00 a 8:00</th>
                    <th scope="col">8:00 a 12:00</th>
                    <th scope="col">12:16:00</th>
                    <th scope="col">16:00 a 20:00</th>
                    <th scope="col">0:00 a 4:00</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Day 1</th>
                    <td>Drugs</td>
                    <td>Drugs</td>
                    <td>Drugs</td>
                    <td>Sleep</td>
                    <td>Go out for a vacation</td>
                </tr>
                <tr>
                    <th scope="row">Day 2</th>
                    <td>Sleep</td>
                    <td>Eat</td>
                    <td>Sleep</td>
                    <td>WORK</td>
                    <td>Eat</td>
                </tr>
                <tr>
                    <th scope="row">Day 3</th>
                    <td>Eat</td>
                    <td>Eat</td>
                    <td>be safe of drugs</td>
                    <td>Eat</td>
                    <td>go to swimming</td>
                </tr>
                <tr>
                    <th scope="row">Day 4</th>
                    <td>Sleep</td>
                    <td>Drugs</td>
                    <td>live a clean life</td>
                    <td>WORK MORE</td>                
                    <td>having Sex</td>   
                </tr>
                <tr>
                    <th scope="row">Day 5</th>
                    <td>Drugs</td>
                    <td>Sleep</td>
                    <td>Sleep</td>
                    <td>Sleep</td>
                    <td>Sleep</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{%endblock%}
